[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
rss-parser = "*"
feedgen = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
flake8 = "*"
autopep8 = "*"
pre-commit = "*"

[scripts]
server = 'python app/main.py'

[requires]
python_version = "3.11"
