[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
rss-parser = "*"
feedgen = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
flake8 = "*"
autopep8 = "*"

[scripts]
server = 'cd app && uvicorn main:app'

[requires]
python_version = "3.10"
