[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
rss-parser = "*"
feedgen = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
tortoise-orm = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"

[scripts]
prod = 'python app/main.py' 
dev = 'uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload'
test = 'pytest'

[requires]
python_version = "3.11"
