-i https://pypi.org/simple
autopep8==2.0.2
blinker==1.6.2 ; python_version >= '3.7'
brotli==1.0.9 ; platform_python_implementation == 'CPython'
certifi==2023.5.7 ; python_version >= '3.6'
cfgv==3.3.1 ; python_full_version >= '3.6.1'
charset-normalizer==3.1.0 ; python_full_version >= '3.7.0'
click==8.1.3 ; python_version >= '3.7'
configargparse==1.5.5 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
distlib==0.3.6
filelock==3.12.2 ; python_version >= '3.7'
flake8==6.0.0
flask==2.3.2 ; python_version >= '3.8'
flask-basicauth==0.2.0
flask-cors==4.0.0
gevent==22.10.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
geventhttpclient==2.0.9
greenlet==2.0.2 ; platform_python_implementation == 'CPython'
identify==2.5.24 ; python_version >= '3.7'
idna==3.4 ; python_version >= '3.5'
iniconfig==2.0.0 ; python_version >= '3.7'
itsdangerous==2.1.2 ; python_version >= '3.7'
jinja2==3.1.2 ; python_version >= '3.7'
locust==2.15.1
markupsafe==2.1.3 ; python_version >= '3.7'
mccabe==0.7.0 ; python_version >= '3.6'
msgpack==1.0.5
nodeenv==1.8.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
packaging==23.1 ; python_version >= '3.7'
platformdirs==3.8.0 ; python_version >= '3.7'
pluggy==1.2.0 ; python_version >= '3.7'
pre-commit==3.3.3
psutil==5.9.5 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pycodestyle==2.10.0 ; python_version >= '3.6'
pyflakes==3.0.1 ; python_version >= '3.6'
pytest==7.4.0 ; python_version >= '3.7'
pytest-tornasync==0.6.0.post2
pyyaml==6.0
pyzmq==25.1.0 ; python_version >= '3.6'
requests==2.31.0
roundrobin==0.0.4
ruff==0.0.277
setuptools==68.0.0 ; python_version >= '3.7'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
tornado==6.3.2 ; python_version >= '3.8'
typing-extensions==4.7.1 ; python_version >= '3.7'
urllib3==2.0.3 ; python_version >= '3.7'
virtualenv==20.23.1 ; python_version >= '3.7'
werkzeug==2.3.6 ; python_version >= '3.8'
zope.event==5.0 ; python_version >= '3.7'
zope.interface==6.0 ; python_version >= '3.7'
aiohttp==3.8.4
aiosignal==1.3.1 ; python_version >= '3.7'
aiosqlite==0.17.0 ; python_version >= '3.6'
anyio==3.7.1 ; python_version >= '3.7'
async-timeout==4.0.2 ; python_version >= '3.6'
attrs==23.1.0 ; python_version >= '3.7'
beautifulsoup4==4.12.2 ; python_full_version >= '3.6.0'
bs4==0.0.1
fastapi==0.99.1
feedgen==0.9.0
frozenlist==1.3.3 ; python_version >= '3.7'
h11==0.14.0 ; python_version >= '3.7'
hiredis==2.2.3
httptools==0.5.0
iso8601==1.1.0 ; python_version < '4.0' and python_full_version >= '3.6.2'
lxml==4.9.3 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
multidict==6.0.4 ; python_version >= '3.7'
mutagen==1.46.0 ; python_version >= '3.7'
pycryptodomex==3.18.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pydantic==1.10.11 ; python_version >= '3.7'
pypika-tortoise==0.1.6 ; python_version >= '3.7' and python_version < '4.0'
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==1.0.0
pytz==2023.3
redis[hiredis]==4.6.0
rq==1.15.1
rss-parser==0.2.4
sniffio==1.3.0 ; python_version >= '3.7'
soupsieve==2.4.1 ; python_version >= '3.7'
starlette==0.27.0 ; python_version >= '3.7'
tortoise-orm==0.19.3
uvicorn[standard]==0.22.0
uvloop==0.17.0 ; sys_platform != 'win32' and platform_python_implementation == 'CPython'
watchfiles==0.19.0 ; python_version >= '3.7'
websockets==11.0.3
yarl==1.9.2 ; python_version >= '3.7'
yt-dlp==2023.6.22
